<!DOCTYPE html>

<html>
    <head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <title>play chess</title>
		<script type="module" src="index.js"></script>
    </head>
    <body>
        <!-- TODO: replace testing behaviour by quick match, play against friend and play against AI -->
        <button>temporary testing behaviour</button>
    </body>
</html>